body {
    margin: 0;
  }
  
  .main {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 300px;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    top:8rem;
    cursor: pointer;
  }
  
  .bg {
    // -webkit-background-size: cover;
    // background-size: cover;
    filter: brightness(.7);
    height: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #000000;
    // margin:10rem;   
  }
  
  .bg.no-image {
    background-image: none;
  }
  
  .bg:after {
    content: ' ';
    background-color: white;
    opacity: .5;
    height: 50%;
    position: absolute;
    width: 100%;
  }
  
  .bg2 {
    filter: contrast(0.5) brightness(.7);
    height: 100%;
    opacity: .01;
    position: absolute;
    top: 0;
    transition: opacity 200ms, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(-100px);
    width: 100%;
  }
  
  .bg2.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .top {
    position: absolute;
    visibility: hidden;
    width: 100%;
  }
  
  .top.visible {
    visibility: visible;
  }
  
  .top-contents {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 6px;
  }
  
  .hamburger {
    opacity: 0;
    transition: opacity 200ms 50ms;
  }
  
  
  
  .content {
    margin: 0 auto;
    max-width: 400px;
  }
  
 
  .icon {
    height: 400px;
    margin: 0 auto;
    width: 200px;
  }
  
  .inputs {
    position: relative;
    margin: 0 50px;
    top:60px;
  }
  
  .login {
    left: 0;
    opacity: .4;
    position: absolute;
    top: -10px;
    width: 20px;

  }
  
  .lock {
    left: 0;
    opacity: .4;
    position: absolute;
    top: 52px;
    width: 20px;
  }
  
  .input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    color: blue($color: #000000);
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    outline: none !important;
    opacity: .6;
    padding-bottom: 15px;
    padding-left: 50px;
    width: 100%;

  }

  .button-container {
    height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .button {
    background-color: #6DABE4;
    border: 0;
    border-radius: 28px;
    display: block;
    font-size: 16px;
    height: 56px;
    margin: 0 auto;
    max-width: 300px;
    outline: none !important;
    overflow: hidden;
    position: relative;
    top: 190px;
    transition: box-shadow 150ms;
    width: 100%;
  }
  
  .button:active {
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
  }
  
  .button.animate {
    opacity: 0;
    transform: translateY(-150px) scale(20);
    transition: width 250ms 200ms, transform 350ms 1350ms, opacity 350ms 1550ms;
    width: 56px;
  }
  
  .circle {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    height: 80px;
    left: 0;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 80px;
  }
  
  .circle.animate {
    transform: scale(3);
    opacity: 0;
    transition: transform 200ms linear, opacity 200ms linear;
  }
  
  .sign-in {
    color: #ffffff;
    opacity: 10;
  }
  
  .sign-in.animate {
    opacity: 0;
    transition: opacity 150ms 200ms;
  }
  
  .loader {
    animation: spin 320ms linear infinite;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right: 3px solid white;
    border-top: 3px solid white;
    height: 28px;
    left: calc(50% - 17px);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    width: 28px;
  }
  
  .loader.animate {
    opacity: 0.6;
    transition: opacity 150ms 350ms;
  }
  
  .loader.animateOut {
    opacity: 0;
    transition: opacity 350ms;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  h6{
      text-align: center;
      font-size: 1.5rem;
    //   margin-left: 10rem;
    //   margin-bottom: 20rem;;
    //   margin: 2rem 3rem;
  }