<!-- <app-list></app-list>-->
<!-- <mat-toolbar color="primary" class="app-header"> -->
    <!-- <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div> -->
    <!-- <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button routerLink="signup" routerLinkActive="active">Signup</a>
      <a mat-button routerLink="datagrid" routerLinkActive="active">DataGrid</a> -->
      <!-- <a mat-button routerLink="login1" routerLinkActive="active">Log in 1</a> -->
      <!-- <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a> -->
    <!-- </span>
  </mat-toolbar> -->
  
  <router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->