@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Forum');

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Marcellus|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Vidaloka');


body {
    background: #F0F0F0;
    margin: 0;
    color: white;
}

.subscribe-box {
    background: white;
    font-family: 'Gothic A1', serif;
    padding: 6em 0;
    text-align: center;
    h2 {
        margin: 0 0 .85em 0;
        font-weight: 100;
        font-size: 30px;
        font-family: 'Marcellus', serif;
    }
    .subscribe {
        width: 100%;
        max-width: 600px;
        margin: auto;
        input {
            width: 100%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid;
            padding: 1em 0 .8em;
            text-align: center;
            font-size: 18px;
            font-family: inherit;
            font-weight: 300;
            line-height: 1.5;
            color: inherit;
            outline: none;
            &::placeholder { 
                color: gray;
            }
        }

        button {    
            all: unset;
            margin-top: 2.4em;
            background: transparent;
            border: 2px solid black;
            padding: 1em 4em;
            border-radius: 50px;
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            position: relative;
            transition: all 300ms ease;
            span {
                display: inline-block;
                transition: all 300ms ease;
                //z-index: 2;
            }
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                transition: all 300ms ease;
                opacity: 0;
            }
            &:before {
                height: 7px;
                width: 7px;
                background: transparent;
                border-right: 2px solid;
                border-top: 2px solid;
                right: 30px; top: 21px;
                transform: rotate(45deg);
            }
            &:after {
                background: white;
                height: 2px;
                width: 50px;
                left: 0;
                top: 1.49em;
                //z-index: 1;
            }
            &:hover {
                span {
                    transform: translateX(-10px);
                }
                &:before {
                    opacity: 1;
                }
                &:after {
                    width: 14px;
                    opacity: 1;
                    transform: translateX(160px);
                }
            }
        }
    }

}







// input[type="submit" i] {
//     -webkit-appearance: push-button;
//     user-select: none;
//     white-space: pre;
//     align-items: flex-start;
//     text-align: center;
// }
// input {
//     // -webkit-writing-mode: horizontal-tb !important;
//     text-rendering: auto;
//     color: -internal-light-dark-color(black, white);
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     text-align: start;
//     -webkit-appearance: textfield;
//     background-color: -internal-light-dark-color(white, black);
//     -webkit-rtl-ordering: logical;
//     cursor: text;
//     margin: 0em;
//     font: 400 13.3333px Arial;
//     padding: 1px 0px;
//     width: 100%;
//     height: 80%;
//     // border-width: 20px;
//     border-style: inset;
//     border-color: initial;
//     border-image: initial;
// }

// body {
//     font-size: 100%;
//     background: #0086E5;
//     font-family: 'Roboto', sans-serif;
// }
// div{
//     margin: 0;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     font: inherit;
//     vertical-align: baseline;
// }

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    // background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
    height: 3rem;
    text-align: start;
  }
  
  .form-label-group>label {
    position: absolute;
    // text-align: center;
    top:0.8rem;
    left: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
  